<div id="<%= dom_id quote %>">
  <p>
    <strong>Textbody:</strong>
    <%= quote.textbody %>
  </p>

  <p>
    <strong>Pubyear:</strong>
    <%= quote.pubyear %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= quote.comment %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= quote.is_public %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quote.user_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= quote.author_id %>
  </p>

</div>
