<div id="<%= dom_id author %>">
  <p>
    <strong>Auth fname:</strong>
    <%= author.auth_fname %>
  </p>

  <p>
    <strong>Auth surname:</strong>
    <%= author.auth_surname %>
  </p>

  <p>
    <strong>Birthyear:</strong>
    <%= author.birthyear %>
  </p>

  <p>
    <strong>Deathyear:</strong>
    <%= author.deathyear %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= author.biography %>
  </p>

</div>
